out:  ./main.css, sourcemap: false, compress: false

// Main colors

@white: #ffffff;
@black: #000000;
@light-grey: #F8F8F8;
@primary-red: #FF0000;
@primary-green: #008000;
@primary-blue: #0000FF;

// Three Graces colors

@tg-gold: #CEB66D;
@tg-red: #9C3023;
@tg-blue: #172C5F;

// Fonts

@source-sans: 'Source Sans Pro', sans-serif;
@garamond: 'EB Garamond', serif;

// Media Queries

// from Small Devices to larger screens - Tablet
@sm: ~"only screen and (min-width: 576px)";
// from Small Devices to larger screens - Tablets
@md: ~"only screen and (min-width: 750px)";
// from Medium Devices to larger screens - Desktops
@lg: ~"only screen and (min-width: 970px)";
// from Large Devices to larger screen - Large desktops
@xl: ~"only screen and (min-width: 1170px)";

// Main text styles

body {
  background-color: @light-grey;
  margin: 0;
  font-size: 75%;
  overflow-x: hidden;

  @media @md {
    font-size: 100%;
  }
}

h1, h2, h3 {
  font-family: @garamond;
  margin: 0;
  margin-bottom: 24px;
}

h1 {
  font-size: 3em;
  font-weight: 500;
  line-height: 1.4em;
}

h2 {
  font-size: 2.5em;
  font-weight: 500;
}


p {
  font-family: @source-sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;

  &.subtitle {
    font-size: 1.4em;
    line-height: 1.8em;
  }
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 18px;
  font-family: @source-sans;
  font-weight: 600;
}

a.btn-main {
  padding: 16px;
  // border: 4px solid transparent;
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to right, @primary-red, @primary-blue, @primary-green) 1;
  -moz-border-image: linear-gradient(to right, @primary-red, @primary-blue, @primary-green) 1; /* Old firefox */
  -webkit-border-image: -webkit-linear-gradient(to right, @primary-red, @primary-blue, @primary-green) 1; /* Safari */
  -o-border-image: linear-gradient(to right, @primary-red, @primary-blue, @primary-green) 1; /* Opera */

  margin: 20px 0px;
  display: inline-block;
  transition: all 0.3s ease;

  &:hover {
    padding: 16px 24px;
  }
}

// Main

* {
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  // box-sizing: border-box;
}

.page-content {
  overflow-x: hidden;
}

.above-fold {
  // Prevent overflow on mobile browsers.
  overflow-x: hidden;
  height: 100vh;
}

.container {
  max-width: 90vw;
  margin: 0 auto;

  @media @md {
    max-width: 80vw;
  }
}

section {
  &.bg-white {
    background-color: @white;
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 160px;

  color: @black;
  font-family: @source-sans;
  font-size: 18px;
  font-weight: normal;

  a {
    color: inherit;
    text-decoration: none;

    &:not(:first-child) {
      margin-left: 40px;
    }
  }

  li {
    list-style: none;
    display: inline-flex;
    padding: 5px 0px;

  }

  a.logo-title {
    display: inline-flex;
    align-items: center;

    h2 {
      font-family: @garamond;
      font-size: 1.4em;
      line-height: 1.2em;
      font-weight: 400;
      margin: 0;
    }

    img {
      margin-right: 20px;
    }
  }
}

.hero-section {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 580px;
  min-height: 400px;
  height: ~"calc(100vh - 280px)";

  .shapes {

    .circle {
      position: absolute;
      top: 6vh;
      right: -70vw;

      mix-blend-mode: multiply;
      width: 20vh;
      height: 20vh;
      min-width: 400px;
      min-height: 400px;
      border-radius: 100%;
      border: 12px solid @primary-blue;

      transform: translateY(0);
      transform: translateX(0);

      animation: triangle ease 12s infinite;
    }

    .square {
      position: absolute;
      top: 40vh;
      right: -20vw;

      mix-blend-mode: multiply;
      width: 14vh;
      height: 14vh;
      min-width: 160px;
      min-height: 160px;
      border: 12px solid @primary-red;
      transform: rotate(25deg);
      transform: translateY(0px);
      transform: translateX(0);

      animation: square ease 12s infinite;
    }

    .triangle {
      position: absolute;
      top: 4vh;
      right: -20vw;
      mix-blend-mode: multiply;
      transform: rotate(-15deg);
      transform: translateY(0);
      transform: translateX(0);

      animation: triangle ease 12s infinite;
    }
  }

  @media @sm {
    .shapes {

      .circle {
        position: absolute;
        top: 6vh;
        right: -55vw;

        mix-blend-mode: multiply;
        width: 60vh;
        height: 60vh;
        min-width: 400px;
        min-height: 400px;
        border-radius: 100%;
        border: 12px solid @primary-blue;

        transform: translateY(0);
        transform: translateX(0);

        animation: triangle ease 12s infinite;
      }

      .square {
        position: absolute;
        top: 40vh;
        right: -20vw;

        mix-blend-mode: multiply;
        width: 25vh;
        height: 25vh;
        min-width: 160px;
        min-height: 160px;
        border: 12px solid @primary-red;
        transform: rotate(25deg);
        transform: translateY(0px);
        transform: translateX(0);

        animation: square ease 12s infinite;
      }

      .triangle {
        position: absolute;
        top: 4vh;
        right: -26vw;
        mix-blend-mode: multiply;
        transform: rotate(-15deg);
        transform: translateY(0);
        transform: translateX(0);

        animation: triangle ease 12s infinite;
      }
    }
  }
}

&.btn-scroll {
  position: relative;

  a {
    position: absolute;
    left: 0;
    // -webkit-transform: translateX(-50%);
    // transform: translateX(-50%);

    font-family: @source-sans;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 0px;
    background-color: transparent;
    border: none;

    &:before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    right: 0px;
    bottom: 0px;
    background-image: linear-gradient(to right, @primary-red, @primary-blue, @primary-green);
    width: 100%;
    height: 3px;
    transition: all 0.3s ease;
  }

    &:hover {
      &:before {
        bottom: 4px;
      }
    }
  }
}

section.artworks {
  margin-top: 80px;
}

.artwork-block {
  display: flex;
  align-items: center;
  width: 100%;

  .content {
    width: 100%;
    text-align: center;
    max-width: 740px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 80px;
  }

  .square-img {
    background-image: url(assets/artworks/three-graces.png);
    background-size: cover;
    height: 250px;
    width: 250px;
    margin: auto;
    margin-bottom: 60px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: -12px;
      top: -12px;
      border: 12px solid @tg-gold;
      height: 100%;
      width: 100%;
      transform: rotate(-15deg);
    }
  }
}

footer {
  height: 100px;
}



/* ----------------- Animations ----------------- */

@keyframes square {
  0%,
  100% {
    transform: rotate(25deg) translateY(0px);
  }

  50% {
    transform: rotate(18deg) translateY(-40px);
  }
}

@keyframes triangle {
  0%,
  100% {
    transform: rotate(-15deg) translateY(0px);
  }

  50% {
    transform: rotate(-8deg) translateY(-30px);
  }
}

@keyframes circle {
  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }
}
